.app{
    max-width: 500px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: center;
}

.headerText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    height: 150px;
    font-size: 32px;
}

.sub-headerText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.hint{
    margin: 5px;
    color: #fff;
}

button{
    outline: none;
    border: none;   
    background: #1882bb;
    border-radius: 13px;
    padding: 10px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: background .3s;
}

button:hover{
    background: #00a6ff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a6ff;
}

.controls{
    display: flex;
}

.menus{
    display: flex;
}

.modal {
    position: absolute;
    top: 36%;
    left: 36%;
    right: 36%;
    bottom: 36%;
    background-color: #293141;
    outline: none;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.623);
}

.convert-bt{
    background: rgb(175, 38, 38) !important;
}